<div class="row" style="width: 100%;">
    <div class="col-md-6" style="float: left;">
        <img src="assets/landing.webp" class="img-fluid">
    </div>
    <div class="col-md-6 pl-5 m-auto">
        <h1 class="display-4">Ayude a las personas a encontrar lo que necesitan en su sitio web</h1> <br>
        <h4 class="font-weight-normal" >Añada un cuadro de búsqueda personalizable a tus páginas web y muestre resultados rápidos y relevantes</h4>
        <hr>
        <a class="btn btn-primary btn-lg" routerLink="/login">Comencemos!</a>
    </div>
</div>

<section class="mt-5">
    <h1 class="text-center display-4 font-weight-bold">¿Por qué elegir DogDogGo?</h1>
    <div class="row mx-auto mt-5 text-center p-5">
        <div class="col-md-3 col-12 mb-5">
            <img src="assets/mod2_icon_search_2x.webp" class="img-fluid pb-2" width="120">
            <h2>Resultados Relevantes</h2>
            <hr>
            <p>Motor de búsqueda impulsado por lo último en tecnología para que obtengas los mejores resultados</p>
        </div>
        <div class="col-md-6 col-12 mb-5">
            <img src="assets/mod2_icon_custom_2x.webp" class="img-fluid pb-2" width="120">
            <h2>Funcionalidad Customizada</h2>
            <hr>
            <p>Usted programa su motor de búsqueda, así decide qué contenido busca</p>
        </div>
        <div class="col-md-3 col-12 mb-5">
            <img src="assets/mod2_icon_easy_2x.webp" class="img-fluid pb-2" width="120">
            <h2>Fácil de Usar</h2>
            <hr>
            <p>Integre su motor de búsqueda en su sitio web rápidamente</p>
        </div>
    </div>
</section>


<section>
    <h1 class="text-center mb-5 display-4 font-weight-bold">Hacelo Tuyo 😉</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-12 mt-5 features">
                <h3>Elegi los sitios a incluir</h3>
                <p>Ya sea a través del portal o con servicios configurados</p>
                <br>
                <h3>Personalizalo</h3>
                <p>Indicá qué colores, iconos, formato de búsqueda querés para tu sitio</p>
                <br>
                <h3>Totalmente Gratis</h3>
                <p>Gratis, sin letras chicas</p>
            </div>
            <div class="col-md-6 col-12">
                <img src="assets/phone.webp" class="img-fluid" style="max-width: 20em;">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0; background-color: #f7f7f7; color: black;">
        <div class="container text-center">
            <h1 class="display-4">Empezá a mejorar la <br> 
                <span class="font-weight-bold" style="color:#0275d8;">Experiencia</span>
                <br> 
                de tu sitio
            </h1>
            <br>
            <a class="btn btn-primary btn-lg" routerLink="/login">Comencemos!</a>
        </div>
    </div>
</section>