<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Listado de Usuarios</h1>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row mt-4">
        <div class="col-md-12 col-12 mx-auto">
            <div class="col-md-3">
                <label for="search" class="lead font-weight-bold">Buscar Usuario:</label>
                <input id="search" class="form-control" type="text" placeholder="Usuario1" (keyup)="search()"
                    name="searchTerm" [(ngModel)]="searchTerm" />
            </div>
            <div class="table-responsive mt-4 col-md-12 col-12">
                <form [formGroup]="formRow">
                    <table class="table table-hover shadow-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col" style="width:  11%">Cambiar de Perfil</th>
                                <th scope="col" style="width:  9%" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="editId == null">
                                <td>
                                    <input type="text" class="form-control" formControlName="firstName">
                                    <small class="invalid-input"
                                        *ngIf="firstName.invalid && firstName.touched && firstName.value == ''">Ingrese
                                        el Nombre del Usuario</small>
                                </td>
                                <td> <input type="text" class="form-control" formControlName="lastName">
                                    <small class="invalid-input"
                                        *ngIf="lastName.invalid && lastName.touched && lastName.value == ''">Ingrese
                                        el Apellido del Usuario</small>
                                </td>
                                <td> <input type="text" class="form-control" formControlName="username">
                                    <small class="invalid-input"
                                        *ngIf="username.invalid && username.touched && username.value == ''">Ingrese
                                        un nombre de usuario para el Usuario</small>
                                    <small class="invalid-input" *ngIf="username.errors?.usernameTaken">Nombre de
                                        Usuario no
                                        disponible</small>
                                </td>
                                <td> <input type="password" class="form-control" formControlName="password">
                                    <small class="invalid-input"
                                        *ngIf="password.invalid && password.touched && password.value == ''">Ingrese
                                        una contraseña para el Usuario</small>
                                </td>
                                <td> </td>
                                <td>
                                    <button type="button" class="btn btn-success" (click)="createAccount()"
                                        [disabled]="formRow.invalid || formRow.pending">
                                        <fa-icon [icon]="faNewUser"></fa-icon>
                                        Usuario
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="editId != null">
                                <td> <input type="text" class="form-control" disabled> </td>
                                <td> <input type="text" class="form-control" disabled> </td>
                                <td> <input type="text" class="form-control" disabled> </td>
                                <td> <input type="password" class="form-control" disabled></td>
                                <td> </td>
                                <td>
                                    <button type="button" class="btn btn-success" disabled>
                                        <fa-icon [icon]="faNewUser"></fa-icon>
                                        Usuario
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let user of usersPage; let i = index">
                                <ng-container *ngIf="editId == user.userId">
                                    <td>
                                        <input type="text" class="form-control" formControlName="firstName">
                                        <small class="invalid-input"
                                            *ngIf="firstName.invalid && firstName.touched && firstName.value == ''">Ingrese
                                            el Nombre del Usuario</small>
                                    </td>
                                    <td> <input type="text" class="form-control" formControlName="lastName">
                                        <small class="invalid-input"
                                            *ngIf="lastName.invalid && lastName.touched && lastName.value == ''">Ingrese
                                            el Apellido del Usuario</small>
                                    </td>
                                    <td> <input type="text" class="form-control" formControlName="username">
                                        <small class="invalid-input"
                                            *ngIf="username.invalid && username.touched && username.value == ''">Ingrese
                                            un nombre de usuario para el Usuario</small>
                                        <small class="invalid-input" *ngIf="username.errors?.usernameTaken">Nombre de
                                            Usuario no
                                            disponible</small>
                                    </td>
                                    <td> <input type="password" class="form-control" formControlName="password">
                                        <small class="invalid-input"
                                            *ngIf="password.invalid && password.touched && password.value == ''">Ingrese
                                            una contraseña para el Usuario</small>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="editId != user.userId">
                                    <td>
                                        <ngb-highlight [result]="user.firstName" [term]="searchTerm"></ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="user.lastName" [term]="searchTerm"></ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="user.username" [term]="searchTerm"></ngb-highlight>
                                    </td>
                                    <td> ••••••••••••• </td>
                                </ng-container>
                                <td>
                                    <button class="btn btn-primary btn-block"
                                        (click)="impersonate(user.userId)">Seleccionar</button>
                                </td>
                                <td class="text-center">
                                    <ng-template [ngIf]="editId != user.userId">
                                        <button class="btn btn-primary m-1" (click)="edit(user)">
                                            <fa-icon [icon]="faUserEdit"></fa-icon>
                                        </button>
                                        <button class="btn btn-danger" (click)="deleteUser(user)">
                                            <fa-icon [icon]="faUserSlash"></fa-icon>
                                        </button>
                                    </ng-template>
                                    <ng-template [ngIf]="editId == user.userId">
                                        <button class="btn btn-success m-1" (click)="updateUser()"
                                            [disabled]="formRow.invalid || formRow.pending">
                                            <fa-icon [icon]="faUpdate"></fa-icon>
                                        </button>
                                        <button class="btn btn-danger m-1" (click)="cancelEdit()">
                                            <fa-icon [icon]="faCancel"></fa-icon>
                                        </button>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="d-flex justify-content-between p-2 mb-5"> -->
    <div class="row pt-2 mb-5 mx-auto">
        <div class="col-md-6 col-12">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                [boundaryLinks]="true" (pageChange)="refreshUsers()">
            </ngb-pagination>
        </div>

        <div class="col-md-6 col-12">
            <select class="custom-select float-md-right" style="width: auto" [(ngModel)]="pageSize"
                (ngModelChange)="refreshUsers()">
                <option [ngValue]="10">10 Usuarios por página</option>
                <option [ngValue]="50">50 Usuarios por página</option>
                <option [ngValue]="100">100 Usuarios por página</option>
            </select>
        </div>
    </div>
</div>