<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Listado de Páginas Web</h1>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <table class="table table-hover shadow-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Reindexar</th>
                </tr>
            </thead>
            <tbody class="rounded">
                <tr>
                    <td scope="col">URL</td>
                    <td scope="col">A Indexar</td>
                    <td scope="col">Reindexar</td>
                </tr>
                <tr>
                    <td scope="col">URL</td>
                    <td scope="col">A Indexar</td>
                    <td scope="col"></td>
                </tr>
                <tr>
                    <td scope="col">URL</td>
                    <td scope="col">A Indexar</td>
                    <td scope="col"></td>
                </tr>
                <tr>
                    <td scope="col">URL</td>
                    <td scope="col">A Indexar</td>
                    <td scope="col"></td>
                </tr>
                <tr>
                    <td scope="col">URL</td>
                    <td scope="col">Indexado</td>
                    <td scope="col">
                        <button class="btn btn-primary rounded-pill">Reindexar</button>
                    </td>
                </tr>
                <tr>
                    <td scope="col">URL</td>
                    <td scope="col">Indexado</td>
                    <td scope="col">
                        <button class="btn btn-primary rounded-pill">Reindexar</button>
                    </td>
                </tr>
                <tr>
                    <td scope="col">URL</td>
                    <td scope="col">Estado</td>
                    <td scope="col">Reindexar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>