<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Listado de Páginas Web</h1>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto rounded">
            <div class="col-md-5 col-12 mb-5">
                <label for="search" class="lead font-weight-bold">Buscar Página:</label>
                <input id="search" class="form-control custom-rounded" type="text" placeholder="google.com" (keyup)="search()"
                    name="searchTerm" [(ngModel)]="searchTerm" />
            </div>
            <form [formGroup]="formRow">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">URL</th>
                                <th scope="col" class="text-center">Estado</th>
                                <th scope="col" class="text-center"></th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody class="shadow-sm ">
                            <tr *ngIf="editId == null">
                                <td colspan="2" width="60%">
                                    <input type="text" class="form-control custom-rounded" formControlName="url"
                                        placeholder="http://www.pagina.com">
                                    <small class="invalid-input" *ngIf="url.invalid && url.touched && url.value == ''">
                                        Ingrese la URL de la Página
                                    </small>
                                    <small class="invalid-input" *ngIf="url.errors?.pattern">
                                        Ingrese una URL con el siguiente patrón: http:// o https://...
                                    </small>
                                    <small class="invalid-input" *ngIf="url.errors?.registeredDomain">
                                        El dominio ya se encuentra registrado en tu lista de páginas web
                                    </small>
                                    <small class="invalid-input" *ngIf="url.errors?.pingURLFailed">
                                        La página no existe o está caída
                                    </small>
                                </td>
                                <td colspan="2" class="text-center px-5">
                                    <button class="btn btn-success btn-block" (click)="addWebsite()"
                                        [disabled]="formRow.invalid || formRow.pending">
                                        Insertar Página
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="editId != null">
                                <td colspan="2">
                                    <input type="text" class="form-control rounded" disabled
                                        placeholder="http://www.pagina.com">
                                </td>
                                <td colspan="2" class="text-center px-5">
                                    <button class="btn btn-success btn-block" disabled>
                                        Insertar Página
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let website of websitesPage">
                                <ng-container *ngIf="editId != website.websiteId">
                                    <td>
                                        <ngb-highlight [result]="website.url" [term]="searchTerm"></ngb-highlight>
                                    </td>
                                    <td scope="col" class="text-center align-middle">
                                        <ng-template [ngIf]="website.isUp">
                                            <h5>
                                                <span class="badge badge-pill"
                                                    [ngClass]="website.indexed ? 'badge-success' : 'badge-info'">
                                                    {{website.indexed ? 'Indexado' : 'A Indexar'}}
                                                </span>
                                            </h5>
                                            <small *ngIf="website.indexDate"> Fecha de indexado: {{website.indexDate | date:'dd/MM/yyyy' }} </small>
                                        </ng-template>
                                        <ng-template [ngIf]="!website.isUp">
                                            <h5>
                                                <span class="badge badge-pill badge-danger">
                                                    Página Caída
                                                </span>
                                            </h5>
                                        </ng-template>
                                    </td>
                                    <td scope="col" class="mx-auto text-center">
                                        <button class="btn btn-primary shadow-sm" (click)="reindex(website)"
                                            [disabled]="!website.indexed">
                                            Reindexar
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary m-1" (click)="edit(website)">
                                            <fa-icon [icon]="faPen"></fa-icon>
                                        </button>
                                        <button class="btn btn-danger" (click)="deleteWebsite(website)">
                                            <fa-icon [icon]="faDelete"></fa-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container *ngIf="editId == website.websiteId">
                                    <td colspan="2" width="60%">
                                        <input type="text" class="form-control custom-rounded" formControlName="url">
                                        <small class="invalid-input"
                                            *ngIf="url.invalid && url.touched && url.value == ''">
                                            Ingrese la URL de la Página
                                        </small>
                                        <small class="invalid-input" *ngIf="url.errors?.pattern">
                                            Ingrese una URL con el siguiente patrón: http:// o https://...
                                        </small>
                                        <small class="invalid-input" *ngIf="url.errors?.registeredDomain">
                                            El dominio ya se encuentra registrado en tu lista de páginas web
                                        </small>
                                        <small class="invalid-input" *ngIf="url.errors?.pingURLFailed">
                                            La página no existe o está caída
                                        </small>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-block" (click)="updateWebsite(website)"
                                            [disabled]="formRow.invalid || formRow.pending">
                                            <fa-icon [icon]="faUpdate"></fa-icon>
                                            Actualizar
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-block" (click)="cancelEdit()">
                                            <fa-icon [icon]="faCancel"></fa-icon>
                                            Cancelar
                                        </button>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <ng-template [ngIf]="total > 0">
        <div class="row pt-2 mb-5 mx-auto">
            <div class="col-md-6 col-12">
                <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                    [boundaryLinks]="true" (pageChange)="refreshWebsites()">
                </ngb-pagination>
            </div>

            <div class="col-md-6 col-12">
                <select class="custom-select float-md-right" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshWebsites()">
                    <option [ngValue]="10">10 items por página</option>
                    <option [ngValue]="50">50 items por página</option>
                    <option [ngValue]="100">100 items por página</option>
                </select>
            </div>
        </div>
    </ng-template>
</div>
