<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Metadatos Generados</h1>
        <br>
        <a routerLink="/metadata">Editar metadatos pendientes de aprobación</a>
    </div>
</div>

<ng-template [ngIf]="metadata.length == 0 || metadata == null">
    <div class="text-center">
        <h1 class="display-4">
            No hay metadatos indexados
        </h1>
    </div>
</ng-template>

<ng-container *ngIf="metadata.length > 0">
    <div class="container-fluid mt-3 mb-5">
        <div class="row mt-4">
            <div class="col-md-12 col-12 mx-auto">
                <h2 class="text-center">Resultados Totales: {{total}} </h2>
                <div class="col-md-12 col-12 ml-2">
                    <div class="row">
                        <div class="col-12">
                            <span class="text-muted"> Seleccionados: {{ this.countSelected() }}</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <input type="checkbox" class="ml-1 mr-4 mt-1"
                                (click)="this.checked=!this.checked; selectAll()" ([ngModel])="checked"
                                style="transform: scale(2);">
                            <ng-template [ngIf]="this.countSelected() > 0">
                                <button class="btn btn-outline-success btn-sm shadow-sm mr-3" (click)="updateBatch()">
                                    Actualizar {{this.countSelected() == total ? 'Todos' : 'Seleccionados' }}
                                </button>
                                <button class="btn btn-outline-danger btn-sm shadow-sm" (click)="deleteBatch()">
                                    Eliminar {{this.countSelected() == total ? 'Todos' : 'Seleccionados' }}
                                </button>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <form [formGroup]="form">
                    <div class="table-responsive mt-4 col-md-12 col-12">
                        <table class="table table-hover shadow-sm w-100">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="width: 1%;"> </th>
                                    <th scope="col" style="width: 25%;">URL</th>
                                    <th scope="col" style="width: 15%;">Titulo</th>
                                    <th scope="col" style="width: 15%;">Texto</th>
                                    <th scope="col" style="width: 10%;">Top palabras</th>
                                    <th scope="col" style="width: 10%;">Tipo</th>
                                    <th scope="col" style="width: 20%;">Tags</th>
                                    <th scope="col" style="width: 5%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of metadataPage; index as i" [formGroupName]="getActualIndex(i)">
                                    <td>
                                        <input type="checkbox" formControlName="selected">
                                    </td>
                                    <td class="url-td">
                                        <p><a [href]="data.URL" [innerHTML]="data.URL"></a></p>
                                    </td>
                                    <ng-container *ngIf="editingIndex == getActualIndex(i)">
                                        <td>
                                            <textarea rows="5" type="text" class="form-control"
                                                formControlName="title"></textarea>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="editingIndex != getActualIndex(i)">
                                        <td class="td-title">
                                            <p><strong>{{data.title}}</strong></p>
                                        </td>
                                    </ng-container>
                                    <td>
                                        <p class="muted">{{data.text}}...</p>
                                    </td>
                                    <td class="td-words">
                                        {{data.topWords.join(", ")}}
                                    </td>
                                    <td> {{data.type}} </td>
                                    <td class="tags">
                                        <strong>Tags</strong>
                                        <tag-input formControlName="tags" identifyBy="value" displayBy="value"
                                            secondaryPlaceholder="+ Tag" [separatorKeys]="[',']" [clearOnBlur]="true"
                                            [addOnBlur]="true" [editable]="true"
                                            [animationDuration]="{enter: '250ms', leave: '300ms'}" theme='bootstrap'>
                                        </tag-input>
                                        <strong class="mt-1">Filtros</strong>
                                        <tag-input formControlName="filters" identifyBy="value" displayBy="value"
                                            secondaryPlaceholder="+ Filtro" [separatorKeys]="[',']" [clearOnBlur]="true"
                                            [addOnBlur]="true" [editable]="true"
                                            [animationDuration]="{enter: '250ms', leave: '300ms'}" theme='bootstrap'>
                                        </tag-input>
                                    </td>
                                    <td class="mx-auto">
                                        <div class="my-auto">
                                            <ng-container *ngIf="editingIndex == getActualIndex(i)">
                                                <button class="btn btn-success mb-1" (click)="approve(i)">
                                                    <fa-icon [icon]="faCheck"></fa-icon>
                                                </button>
                                                <br>
                                                <button class="btn btn-danger mb-1" (click)="cancel()">
                                                    <fa-icon [icon]="faCancel"></fa-icon>
                                                </button>
                                            </ng-container>
                                            <ng-container *ngIf="editingIndex != getActualIndex(i)">
                                                <button class="btn btn-success mb-1" (click)="approve(i)">
                                                    <fa-icon [icon]="faCheck"></fa-icon>
                                                </button>
                                                <br>
                                                <button class="btn btn-primary mb-1" (click)="edit(i)">
                                                    <fa-icon [icon]="faPen"></fa-icon>
                                                </button>
                                                <br>
                                                <button class="btn btn-danger" (click)="deleteMetadata(data.id, i)">
                                                    <fa-icon [icon]="faDelete"></fa-icon>
                                                </button>
                                            </ng-container>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-2 mb-5 mx-auto">
            <div class="col-md-6 col-12">
                <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                    [boundaryLinks]="true" (pageChange)="refresh()">
                </ngb-pagination>
            </div>

            <div class="col-md-6 col-12">
                <select class="custom-select float-md-right" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refresh()">
                    <option [ngValue]="10">10 items por página</option>
                    <option [ngValue]="50">50 items por página</option>
                    <option [ngValue]="100">100 items por página</option>
                </select>
            </div>
        </div>
    </div>
</ng-container>