<div class="jumbotron jumbotron-fluid shadow-sm rounded">
    <div class="container">
        <h1 class="display-4">Listado de Servicios</h1>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row mt-4">
        <div class="col-md-12 col-12 mx-auto">
            <div class="col-md-5">
                <label for="search" class="lead font-weight-bold">Buscar Servicio:</label>
                <input id="search" class="form-control custom-rounded" type="text" placeholder="api/paginas"
                    (keyup)="search()" name="searchTerm" [(ngModel)]="searchTerm" />
                <p class="mt-2">Para más información, visita la <a routerLink="/docs"><strong>documentación</strong></a>.</p>
            </div>
            <div class="table-responsive">
                <form [formGroup]="formRow">
                    <table class="table table-hover shadow">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">URL</th>
                                <th scope="col" style="width:  12%" class="text-center">Protocolo</th>
                                <th scope="col" style="width:  10%" class="text-center">Estado</th>
                                <th scope="col" style="width:  15%"> </th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <tr *ngIf="editId == null">
                                <td>
                                    <input type="text" class="form-control custom-rounded" formControlName="url"
                                        placeholder="http://www.pagina.com/api/ping"
                                        (change)="checkProtocol($event.target.value)">
                                    <small class="invalid-input"
                                        *ngIf="url.invalid && url.touched && url.value == ''">
                                        Ingrese la URL del servicio
                                    </small>
                                    <small class="invalid-input" *ngIf="url.errors?.pattern">
                                        Ingrese una URL válida
                                    </small>
                                    <small class="invalid-input" *ngIf="url.errors?.pingFailed">
                                        No se pudo hacer ping al servicio
                                    </small>
                                </td>
                                <td>
                                    <select class="form-control" formControlName="protocol">
                                        <option value="REST">REST</option>
                                        <option value="SOAP">SOAP</option>
                                    </select>
                                </td>
                                <td scope="col"></td>
                                <td>
                                    <button class="btn btn-success m-1" (click)="addService()"
                                        [disabled]="formRow.invalid || formRow.pending">
                                        <ng-template [ngIf]="formRow.pending">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                        </ng-template>
                                        <ng-template [ngIf]="!formRow.pending">
                                            <fa-icon [icon]="faPlus"></fa-icon>
                                        </ng-template>
                                        Servicio
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="editId != null">
                                <td><input type="text" class="form-control custom-rounded" disabled></td>
                                <td><input type="text" class="form-control custom-rounded" disabled></td>
                                <td><select class="form-control" disabled></select></td>
                                <td scope="col" class="text-center align-middle"></td>
                                <td>
                                    <button class="btn btn-success m-1" disabled>
                                        <fa-icon [icon]="faPlus"></fa-icon>
                                        Servicio
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let service of servicesPage">
                                <ng-container *ngIf="editId == service.serviceId">
                                    <td>
                                        <input type="text" class="form-control custom-rounded"
                                            (change)="checkProtocol($event.target.value)" formControlName="url">
                                        <small class="invalid-input"
                                            *ngIf="url.invalid && url.touched && url.value == ''">
                                            Ingrese la URL de ping
                                        </small>
                                        <small class="invalid-input" *ngIf="url.errors?.pattern">
                                            Ingrese una URL válida
                                        </small>
                                        <small class="invalid-input" *ngIf="url.errors?.pingFailed">
                                            No se pudo hacer ping al servicio
                                        </small>
                                    </td>
                                    <td>
                                        <select class="form-control" formControlName="protocol">
                                            <option value="REST">REST</option>
                                            <option value="SOAP">SOAP</option>
                                        </select>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-success m-1" (click)="updateService()"
                                            [disabled]="formRow.invalid || formRow.pending">
                                            <ng-template [ngIf]="formRow.pending">
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                            </ng-template>
                                            <ng-template [ngIf]="!formRow.pending">
                                                <fa-icon [icon]="faUpdate"></fa-icon>
                                            </ng-template>
                                        </button>
                                        <button class="btn btn-danger m-1" (click)="cancelEdit()">
                                            <fa-icon [icon]="faCancel"></fa-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="editId != service.serviceId">
                                    <td>
                                        <ngb-highlight [result]="service.url" [term]="searchTerm"></ngb-highlight>
                                    </td>
                                    <td>
                                        {{service.protocol}}
                                    </td>
                                    <td class="text-center">
                                        <ng-template [ngIf]="service.isUp">
                                            <h5 class="status">
                                                <span class="badge badge-pill"
                                                    [ngClass]="service.indexed ? 'badge-success' : 'badge-info'">
                                                    {{service.indexed ? 'Indexado' : 'A Indexar'}}
                                                </span>
                                            </h5>
                                            <small *ngIf="service.indexDate"> {{service.indexDate | date:'dd/MM/yyyy' }}</small>
                                            <ng-template [ngIf]="service.indexed">
                                                <br>
                                                <button class="btn btn-primary btn-sm"
                                                    (click)="reindex(service)">Reindexar</button>
                                            </ng-template>
                                        </ng-template>
                                        <ng-container *ngIf="!service.isUp">
                                            <h5>
                                                <span class="badge badge-pill badge-danger">
                                                    Servicio Caído
                                                </span>
                                            </h5>
                                        </ng-container>

                                    </td>
                                    <td>
                                        <button class="btn btn-primary m-1" (click)="edit(service)">
                                            <fa-icon [icon]="faPen"></fa-icon>
                                        </button>
                                        <button class="btn btn-danger" (click)="deleteService(service)">
                                            <fa-icon [icon]="faDelete"></fa-icon>
                                        </button>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <ng-template [ngIf]="total > 0">
        <div class="row pt-2 mb-5 mx-auto">
            <div class="col-md-6 col-12">
                <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                    [boundaryLinks]="true" (pageChange)="refreshServices()">
                </ngb-pagination>
            </div>

            <div class="col-md-6 col-12">
                <select class="custom-select float-md-right" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshServices()">
                    <option [ngValue]="10">10 servicios por página</option>
                    <option [ngValue]="50">50 servicios por página</option>
                    <option [ngValue]="100">100 servicios por página</option>
                </select>
            </div>
        </div>
    </ng-template>
</div>
