.card {
    border-radius: 4px;
    background: #fff;
}

.card-shadow{
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.cards .card {
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.cards .card img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.cards h3 {
    font-weight: bold;
}

#card-1 {
    background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

#card-2 {
    background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    color: #f45555;
}

#card-2:hover{
    color: #b8433f;
}

#card-3 {
    background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    color: #ffcb2d;
}

#card-3:hover{
    color: #e0b32c;
}

.cards a {
    text-decoration: none;
}

.card-text{
    text-align: end;
    font-size: 3rem;
    font-weight: bold;
}

#color-1-text{
    color: #0275d8
}

#color-2-text{
    color: #f0ad4e
}

#color-3-text{
    color: #5cb85c
}

#color-4-text{
    color: #d9534f
}
