<footer class="footer bg-primary">
    <div class="row text-center mx-auto">
        <div class="col-md-4 col-12">
            <a class="nav-link btn btn-primary shadow-none" routerLinkActive="active" routerLink="/docs">
                📔 Documentación
            </a>
        </div>
        <div class="col-md-4 col-12">
            <img src="assets/logo-white.svg" class="img-fluid" width="48">
                &copy; DogDogGo 2021
        </div>
        <div class="col-md-4 col-12">
            <a class="nav-link btn btn-primary shadow-none" routerLinkActive="active" routerLink="/terms">
                ⚖ Términos y Condiciones
            </a>
        </div>
    </div>
</footer>