@media (max-width: 1000px) {
    /* input.form-control {
        width: auto;
    } */
    select.form-control {
        width: auto;
    }

    th{
        width: auto !important;
    }

    td{
        width: auto !important;
        word-break: unset !important;
    }
    
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.tags ::ng-deep input {
    /*margin-top: 1em !important;*/
}

.tags ::ng-deep input:focus {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

td {
    word-break: break-all;
}

.td-words{
    word-break: break-word;
}

.td-title{
    word-break: break-word;
}

input[type='checkbox'] {
    transform: scale(1.2);
}